<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Students List</h1>

    <% students.forEach((element) => { %>
        <div>
            <h3><%= element.name %></h3>
            <p>Age: <%= element.age %></p>
            <h5><%= element.course</h5>
        </div>
        <hr>
    <% }) %>
</body>
</html>